BUTLER_PARCEL_LAYER_URL=https://geo.co.butler.pa.us/server/rest/services/PAT/ParcelAndBoundary/MapServer/0
MUNICIPALITY=Adams Twp
OUTPUT_EXCEL=output/MCD_Stormwater_Intelligence_Platform.xlsx
MAX_RECORDS=50000
