# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# VS Code
.vscode/settings.json

# Environment variables
.env

# Output
output/
exports/
logs/

# Generated platform data
data/
database/

# Windows
Thumbs.db
Desktop.ini

# SQLite
*.db
*.egg-info/
.pytest_cache/
__pycache__/
.env
